* {
    margin: 0;
    padding: 0;
}

body {
    background: url("images/fundo.png") repeat-x top center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    min-width: 950px;
    width: 100%;
}

#container {
    margin: 0 auto;
    max-width: 950px;
    width: 100%;
}

#header {
    background: url("images/detalhe-topo.png") right top no-repeat;
    height: 230px;
}

#header img {
    margin: 20px 0 5px 0;
    max-width: 180px;
    width: 100%;
}

#header ul {
    background: #b1002e;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 15px;
    width: fit-content;
}

#header ul li {
    background: url("images/divisor.png") no-repeat left center;
    padding: 0.5em 1.5em;
}

#header ul li:hover {
    background: #e10037;
}

#header li.first {
    background: #e10037;
    background-image: none;
}

#header li a {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
}

/* FIM HEADER */

/* COMEÇO HEADER */

#content {
    display: flex;
    margin-top: 10px;
    max-width: 950px;
    width: 100%;
}

#left {
    order: 1;
    max-width: 250px;
    width: 26.31%; /*26.31%*/
}

#left ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
}

#left ul li {
    background: #fff;
    border-bottom: 1px dotted #000;
    padding: 10px;
}

#left ul li:hover {
    background: url("images/divisor.png") no-repeat 10px center;
    text-align: center;
    text-decoration: underline;
}

#left li a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

#left label {
    display: block;
    font-size: 1em;
    font-weight: 600;
}

#left input {
    font-size: 1em;
    width: 100%;
}

#right {
    display: flex;
    flex-direction: row;
    order: 2;
    max-width: 740px;
    width: 77.89%; /*77.89%*/
}

#right img {
    margin: 5px 0;
    width: 100%;
}

#right ul.notice {
    list-style-type: none;
}

#right ul.notice li {
    border-bottom: 1px solid #aaa;
    margin: 5px 0;
}

#right ul.notice a {
    display: flex;
    text-decoration: none;
}

#right ul.notice .subtitle {
    font-size: 0.8em;
}

#right ul.notice .paragraph {
    color: #000;
    font-size: 0.9em;
    font-weight: 600;
    margin-left: 5px;
    text-align: justify;
}

#right ul.notice a:hover .paragraph {
    text-decoration: underline;
}

#right ul.notice a img {
    height: 100%;
    margin: 0;
    max-width: 100px;
    width: 100%;
}

#footer {
    background: #294c71;
    color: #fff;
    font-size: 1.2em;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}

.title {
    background: #294c71;
    color: #fff;
    margin-bottom: 5px;
    padding: 5px 0;
    text-indent: 5px;
}

.subtitle {
    background: #e10037;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    padding: 2px;
    text-indent: 5px;
    text-transform: uppercase;
}

.box {
    background: url("images/fundo-caixa.png") top center;
    margin-bottom: 10px;
    padding: 5px;
}

.subbox {
    background: #fff;
    padding: 10px;
}

.col {
    margin-left: 10px;
    width: 360px;
}

.paragraph {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
}

.button {
    background:#e10037;
    color: #fff;
    display: block;
    font-weight: 700;
    margin: 10px 0;
    padding: 5px;
    text-decoration: none;
    width: fit-content;
}

.button:hover {
    background: #ff0040;
    text-decoration: underline;
}


